<a href="https://colab.research.google.com/github/theMorana/HSE/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%E2%84%962.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(c) В.И. Фирсанова | 2024

# Типы данных в Python

1. **Числовые типы**:
   - `int` integer, целое число `7`
   - `float` число с плавающей точкой (десятичная дробь) `7.1`

2. **Булевы перменные**:
   - `Bool` Boolean, принимает значения `True` или `False`

3. **Наборы, последовательности**:
   - `str` string, строка `"hello"`
   - `list`, список `[1, 7.1, "hello"]`, изменяемая последовательность
    - *вложенный список* состоит из множества списков `[[0, 1, 2], [3, 4]]`
   - `tuple`, кортеж `(1, 7.1, "hello), неизменяемая последовательность
    - в кортежах нельзя удалять, добавлять данные; они занимают меньше памяти
   - `dict`, dictionary, словарь `{"number": 1, "word": "hello"}`, пары ключей и значений (key-query)
    - в этом примере ключами будут `"number"` и `"word"`, а значениями - `1` и `"hello"`
  - `set`, множество, неупорядоченный набор уникальных элементов `{1, 2, 3}`
  - `frozenset`, неизменяемое множество (аналог кортежа по отношению к спискам)

4. **None**:
   - `None` можно использовать для создания пустого элемента, как плейсхолдер в функции, для проверки факта наличия объекта в переменной и т.д.

Задачи

1. Угадай число

In [ ]:
import random # библиотека для генерации случайных чисел

# генерируем случайное целое число (random integer) от 0 до 10
# функция randint принимает два аргумента: диапазон генерации
magic_number = random.randint(0, 10)

# запросите у пользователя ввод числа
user_number = ### ваш код здесь ###

if user_number == magic_number: # проверка на совпадение значений
  print('Поздравляю, вы угадали!')
else:
  print('А вот и нет! Это число', magic_number)

Введите число от 0 до 10: 5
А вот и нет! Это число 3

Обратите внимание на строку `print('А вот и нет! Это число', magic_number)`

`print` может принимать несколько аргументов через запятую и выводить на экран их все!

Используйте это в следующем задании.

2. Приветствие

In [4]:
# запросите у пользователя его имя
# вспомните, чем input(int()) отличается от input()
### ваш код здесь ###

user_name = input("Введите Ваше имя: ")
print("Привет,",user_name,"!")
# выведите на экран любое приветствие для пользователя
### ваш код здесь ###

Введите Ваше имя: fjfj
Привет, fjfj !

3. Конвертер температур

In [6]:
# запросите у пользователя температуру в градусах Цельсия:
# это должно быть дробное числом (float)
temperature = float(input("Ведите температуру в в градусах Цельсия: "))

# конвертируйте температуру из градусов Цельсия в градусы Фаренгейта:
# вспомните или найдите формулу и используйте арифметические операции python для расчетов
temperature1 = (temperature * 1.8) + 32
print("Температура в градусах по Фаренгейту: ", temperature1\)

# выведите результат на экран:
# используйте любые текстовые формулировки, чтобы показать число,
# которое вы получили от пользователя, и результат расчетов

Ведите температуру в в градусах Цельсия: 23
Температура в градусах по Фаренгейту:  73.4

Как вывести на экран несколько строк?

- Можно вызвать `print` несколько раз

```
print('Вот первая строка')
print('А это вторая строка')
```
- Можно использовать `\n` - символ новой строки

```
print('Вот первая строка \n А это вторая строка')
```

4. Округление и вывод с помощью новой строки

In [24]:
# результат расчетов в задаче 3 сохранился в переменных
# воспользуемся этим преимуществом!


# округлите оба значения температур в градусах Цельсия и в градусах Фаргентейта
# вы можете преобразовать результат к виду целого числа с помощью int(n); n - число для преобразования
# либо воспользоваться функцией round(n, k), указав в аргументах функции количество знаков после запятой k
# попробуйте оба варианта!
int(temperature)
int(temperature1)
print("вывод №1: ", temperature, temperature1,"\n","вывод №2: ", round(temperature, 0), round(temperature1,0))


### ваш код здесь ###
### ваш код здесь ###

# теперь выведите на экран оба числа
# сделайте это в одну строчку кода:
# используйте символ новой строки, подумайте, куда его добавить
### ваш код здесь ###

вывод №1:  23.0 73.4
 вывод №2:  23.0 73.0

В задании 4 нам может помочь свойство конкатенации строк.

`print('Hello' + ' ' +'World')`

Но сложение строки с числом невозможно в питоне. Что делать?

5. Конвертирование типов данных

In [27]:
# преобразуйте округленные значения температур к виду строк, применив str(n),
# где n - то, что вы хотите преобразовать к виду строки
### ваш код здесь ###
### ваш код здесь ###

print("вывод №1: " + str(temperature) + " "+ str(temperature1))
# выведите на экран результат:
# используйте конкатенацию строк вместо запятой в функции print
### ваш код здесь ###

вывод №1: 23.0 73.4

Чтобы преобразовать один тип данных в другой, мы вызываем функцию, обозначающую этот тип.

Закрепим новый материал.

6. Калькулятор

In [34]:
# запросите у пользователя 2 целых числа
# выполните операции сложения, вычитания, умножения и возведения каждого из чисел во вторую степень
# выведите результат на экран
a, b = input("Введите первое число "), input("Введите второе число")
print(type(a), type(b))
a,b = int(a), int(b)

print("Результат сложения ", a+b, "\nРезультат вычитания", a-b, "\nРезультат умножения", a*b)
print("Результат возведения во вторую степень первого числа", a**2)
print("Результат возведения во вторую степень второго числа", b**2)

Введите первое число 4
Введите второе число3
<class 'str'> <class 'str'>
Результат сложения  7
Результат вычитания 1
Результат умножения 12
Результат возведения во вторую степень первого числа 16
Результат возведения во вторую степень второго числа 9

7. Анкета

In [35]:
# вспомним множественное присваивание в python
# a, b, c = 0, 1, 2
# используйте множественное присваивание,
# чтобы одной строчкой кода запросить у пользователя имя, возраст и профессию
# выведите на экран полученную информацию

user_name, user_age, user_job = input("Ваше имя: "), input("Ваш возраст: "), input("Ваша профессия: ")
print("Имя: " + user_name + "\nВозраст: "+ user_age +"\nПрофессия: " + user_job)
### ваш код здесь ###

Ваше имя: dfd
Ваш возраст: gfgf
Ваша профессия: hghg
Имя: dfd
Возраст: gfgf
Профессия: hghg

8. Поменять местами переменные

In [36]:
from re import A
# множественное присваивание иногда очень полезно
# запросите у пользователя две любые переменные
# это может быть строка или число, на ваш выбор
a, b = input("Введите информацию в первую переменную: "), input("Введите информацию во вторую переменную: ")
print("В первой переменной хранится  ", a, "\nВо второй переменной хранится  ", b)
print("Меняем местами...")

# поменяйте их местами одной строчкой кода:
# запишите в первую переменную информацию из второй,
# а во вторую переменную - информацию из первой, используя множественное присваивание
a, b = b, a
print("В первой переменной хранится ", a,"\nВо второй переменной хранится ",b)


# выведите на экран промежуточные и итоговые результаты

### ваш код здесь ###

Введите информацию в первую переменную: apple
Введите информацию во вторую переменную: pear
В первой переменной хранится   apple
Во второй переменной хранится   pear
Меняем местами...
В первой переменной хранится  pear
Во второй переменной хранится  apple

9. Дописать функцию

In [37]:
# чаще мы используем множественное присваивание в фунциональном программировании
# например, эта функция считает сумму и произведение двух чисел
# функция принимает на вход (почти как input!) 2 числа
# эти числа запишутся в переменные a и b
def sum_and_product(a, b):
    # напишите здесь код для расчета суммы чисел a и b
    total_sum = a + b
    # а сюда допишите код для подсчета их произведения
    product = a * b
    # функция возвращает результат подсчета - два новых числа
    return total_sum, product

# настало время множественного присваивания
# мы вызывает функцию sum_and_product и передаем ей в качестве аргументов два числа - 5 и 3
# мы помним, что функция возвращает 2 новых числа,
# поэтому результат работы одной функции мы записываем в две переменные: result_sum и result_product
result_sum, result_product = sum_and_product(5, 3)

# выведите на экран result_sum и result_product
print("Сумма: ", result_sum, "\nПроизведение: ", result_product)
### ваш код здесь ###
### ваш код здесь ###

Сумма:  8
Произведение:  15

10. Строка и число

In [39]:
# запросите у пользователя 2 числа, используйте str(input())
a, b = input("Введите число: "), input("Введите еще одно число: ")
# сложите два числа, не меняя тип данных, и выведите на экран результат
print("Результат сложения", a + b)

# преобразуйте числа к виду нужного типа и снова сложите их, выведите результат
# это задание нам уже знакомо:
# попробуйте решить его питонично, используя как можно меньше строк кода
# какие операции можно объединить?
a, b = int(a), int(b)
print("Результат сложения", a + b)

# в каких случаях нам не нужно создавать дополнительные переменные?

### ваш код здесь ###

Введите число: 4
Введите еще одно число: 5
Результат сложения 45
Результат сложения 9